
body{
	background-color:white;
	font-family: sans-serif;
}

.headerArrange{ //arrange the header section
	width:100%;
	margin-left:auto;
	margin-left:auto;
}

.linkFootNav{
	background-color:black;
	color:white;
}

footNav{
	text-align:center;
	position: absolute;
	+transform(translate(-50px,-50px))
	
}

//Setting up the header section
#headerSection{
	background-color: white;
	width: 100%;
	//border: 5px solid black; 
	//padding-top:5px;
	//padding-bottom:5px;
	//padding-right:10%;
	//padding-left:10%;
	margin-left:auto;
	margin-right:auto;
}

#headerAlign{
	position: relative;
	width:80%;
	height:150px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:10px;
	border:10px solid black;
}
#logo{
	margin-right: 1%;
	margin-left: 2%;
	float:left;
}
//style the search div here headerSection


//the search box and search button div
#search{
	//position: absolute
	//dth: 10px;
	//ight:100px; 	
	left: 50%;
	float: left;

	background-color: red;
}

.searchCollection{
	height:25px;
	border: 5px solid #d4cdcd;
	border-radius:10px;
}




/*
//search style
#tfheader{
	position: relative;
	width:40%;
	
	top: 0px;
	left:700px;

}
#tfnewsearch{
		//float:right;
		//padding:20px;
	}

.tfclear{
		clear:both;
	}
*/
	
	
	
	
/*
.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
*/




/*
.tftextinput{
		margin: 0;
		//padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		//font-size:14px;
		//border:1px solid #0076a3; 
		border-right:0px;
		//border-top-left-radius: 5% 5%;
		//border-bottom-left-radius: 5% 5%;
	}

*/
